@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --color-black: black;
    --color-gray: #DCDCDC;
    --color-orange: #EF9000;
    --color-yellow: #FCD81A;
    --color-yellow-light: #FFE659;
    --color-white: #FFFFFF;
}

body{
    font-family: "Poppins";
    width: 100%;
}

header{
    display: grid;
    grid-template-columns: max-content auto;
    background-color: var(--color-yellow);
    padding: 40px;
}

header div{
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-around;
}

header div a {
    text-decoration: none;
    border-radius: 50px;
    padding: 2px 10px 2px 10px;
    background-color: var(--color-orange);
    color: var(--color-white);
  }

.bg-login {
      background: none;
  }

.bg-button{
      background-color: none;
      border-color: var(--color-black);
  }

footer {
    background-color: var(--color-yellow);
    padding: 50px;
}

nav {
    background-color: var(--color-yellow-light);
  }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    padding: 1rem;
  }
  nav ul li:hover {
    background-color: var(--color-orange);
  }
  nav ul li a {
    text-decoration: none;
    color: var(--color-black);
  }

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 0.3rem;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  margin: 1rem 0;
}

main {
  margin: 3rem;
}
main table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}
main table thead tr th {
  border-bottom: 1px solid var(--color-black);
}

.button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--color-orange);
  border: 0;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: var(--color-white);
  font-size: 1rem;
}